<!-- <nb-card size="medium">
    <nb-card-header>
        <i class="fa fa-plus" aria-hidden="true"></i>
    </nb-card-header>
    <nb-list>
      <nb-list-item>
        <p>Check me out</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
        <p>Ex has semper alterum, expetenda dignissim</p>
        <p>Vim an elus ocurreret abhorreant,id nam aeque persius ornat ...</p>
        <p>Simul erroribus ad usu</p>
        <p>Ei cum solet appareat, ex est graeci mediocrutatem</p>
        <p>Get in touch with akveo team</p>
        <p>Write email to business cat</p>
      </nb-list-item>
    </nb-list>
  </nb-card> -->

  <h1>Todo List</h1>
  <div class="bd"> <i class="fa fa-plus" aria-hidden="true"></i></div>
<form action="/action_page.php">
  <input type="checkbox" id="tb1" name="tb1" value="">
  <label for="tb1"> Check me out</label><br>
  <input type="checkbox" id="tb2" name="tb2" value="">
  <label for="tb2"> Lorem ipsum dolor sit amet, consectetur adipisicing</label><br>
  <input type="checkbox" id="tb8" name="t8" value="">
  <label for="tb3"> Vim an elus ocurreret abhorreant,id nam aeque persius ornat ...</label><br><br>
  <input type="checkbox" id="tb3" name="tb3" value="">
  <label for="tb4"> Simul erroribus ad usu</label><br>
  <input type="checkbox" id="tb4" name="tb4" value="">
  <label for="tb5"> Ei cum solet appareat, ex est graeci mediocrutatem</label><br>
  <input type="checkbox" id="tb5" name="tb5" value="">
  <label for="tb6"> Get in touch with akveo team</label><br>
  <input type="checkbox" id="tb6" name="tb6" value="">
  <label for="tb7"> Write email to business cat</label><br>
  <input type="checkbox" id="tb7" name="tb7" value="">
  <label for="tb8"> Ex has semper alterum, expetenda dignissim</label><br>
  <input class="submit" type="submit" value="Submit">
</form>